<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bobby</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
		
	<link href="css/style.css" rel="stylesheet">
		<link href="css/index/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	#set($content="bloglist")
  </head>
  <body>
	<div class="bodybg">
    <div class="container">
    	#parse("/include/header.vm")
    	<div class="row clearfix ">
    		<div class="col-md-8 column transparentbg indexminheight">
    			#parse("/include/breadcrumb.vm")
				
				#parse("/article/${content}.vm")
				
    			#parse("/include/pageturn.vm")
    			
    		</div>
    		<div class="col-md-4 column transparentbg indexminheight">
				#parse("/aboutus/blogowner.vm")
    		</div>
    
		</div>
	</div>
	
    <script type="text/javascript">
		$(".breadcrumb").collapse();
	</script>
	</div>
  </body>
</html>