<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc
     http://www.springframework.org/schema/mvc/spring-mvc.xsd 
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd 
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.bobby.controller"></context:component-scan>
    <context:component-scan base-package="com.bobby.redis"></context:component-scan> 
    <mvc:annotation-driven/>
	<mvc:resources location="/WEB-INF/resources/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/resources/image/" mapping="/image/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/resources/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/resources/font/" mapping="/fonts/**"></mvc:resources>
	
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/template" />
		<property name="configLocation" value="/WEB-INF/config/velocity.properties" />
	</bean>
	<bean id="viewresolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".vm"></property>
		<property name="order" value="1"></property>
		<property name="contentType"><value>text/html;charset=UTF-8</value></property> 
	</bean>
</beans>  